a{
    color: #fff;
}

ion-item{
    --background: #3880ff;
    --color: #fff;
}
ion-button{
    --background: #062f77;
}

ion-col{
    text-align: center;
}

.tableHeader{
    font-size: larger;
}

.center{
width: fit-content;
text-align: center;
}


